################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MyBookStoreApp/.vs/MyBookStoreApp
/MyBookStoreApp/MyBookStoreApp/obj
