
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <img src="~/images/ht_logo.png" class="Logo" alt="Logo" />
    <h1>Welcome to Bookstore application</h1>
    <p>This is a Home page of BookStore App</p>
</body>
</html>
